[submodule "frameworks/raphael_views"]
	path = frameworks/raphael_views
	url = http://github.com/concord-consortium/RaphaelViews.git
[submodule "frameworks/sproutcore"]
	path = frameworks/sproutcore
	url = http://github.com/concord-consortium/sproutcore.git
[submodule "applets"]
	path = applets
	url = http://github.com/stepheneb/lightweight-sensor-graphs.git
[submodule "frameworks/jasmine-sproutcore"]
	path = frameworks/jasmine-sproutcore
	url = https://github.com/concord-consortium/jasmine-sproutcore.git
[submodule "frameworks/lab-sensor-applet-interface"]
	path = frameworks/lab-sensor-applet-interface
	url = git@github.com:concord-consortium/lab-sensor-applet-interface.git
